.DS_Store
db.sqlite3
env
*.pyc
staticfiles


# Distribution / packaging
.Python
env/
build/
develop-eggs/
dist/
eggs/
lib/
lib64/
parts/
sdist/
var/
*.egg-info/
.installed.cfg
*.egg

#whitenoise==2.0.4
