{% extends "registration/registration_base.html" %}
{% load i18n %}
{% load crispy_forms_tags %}

{% block title %}{% trans "Register for an account" %}{% endblock %}

{% block content %}
<div class="content-fluid">
  <div id="login-overlay" class="modal-dialog ">
      <div class="modal-content">
          <div class="modal-header">
              <h4 class="modal-title" id="myModalLabel">Register Now</h4>
          </div>
          <div class="modal-body ">
          	<form method="post" action="">
          	    {% csrf_token %}
          	    {{ form|crispy }}
          	    <input class="btn btn-warning btn-lg" type="submit" value="{% trans 'Submit' %}" />
          	</form>
          </div>
      </div>
  </div>
</div>
{% endblock %}

{% comment %}
**registration/registration_form.html**
Used to show the form users will fill out to register. By default, has
the following context:

``form``
    The registration form. This will be an instance of some subclass
    of ``django.forms.Form``; consult `Django's forms documentation
    <http://docs.djangoproject.com/en/dev/topics/forms/>`_ for
    information on how to display this in a template.
{% endcomment %}