<!-- Small modal -->
<div class="modal fade bs-example-modal-sm" tabindex="-1" role="dialog" aria-labelledby="mySmallModalLabel">
	<div class="modal-dialog modal-sm">
	  <div class="modal-content">
	    <div class="modal-header">
	      <button type="button" class="close" data-dismiss="modal" aria-hidden="true">×</button>
	      <h4 class="modal-title" id="myLargeModalLabel-1">{{img.product.title}}</h4>
	    </div>
	    <div class="modal-body">
	      <img height="100%" width="100%" class="img-responsive center-block" id="img" src="{{ img.image.url }}" alt="{{img.product.title}}" title="{{img.product.title}}" />
	    </div>  
	  </div>
	</div>
</div>