{% extends 'base.html' %}
{% load crispy_forms_tags %}
{% load staticfiles %}
<style>
{% block custom_css %}

{% endblock %}
</style>
{% block jumbotron %}

{% endblock %}
{# <h3>Recommended products</h3> #}
{% block content %}
<div class="row">
  <h1></h1> 
  {% include "products/products.html" with object_list=products  %} <!-- col_class_set='col-sm-2'  -->
</div> 
{% endblock %}

{% comment %}
 <div class="row">
   <h3>Featured products</h3>
   {% include "products/products.html" with object_list=products2  %} <!-- col_class_set='col-sm-2'  -->
 </div>
 {% endcomment %} 